.jumbotron
  .lead
    = form_tag '/upload', method: :post, multipart: true do
      .fields
        %table.table.table-condensed
          %tbody
            %tr
              %td
                = file_field_tag 'files[]'
              %td
            %tr
              %td
                = file_field_tag 'files[]'
              %td
      %button#add.btn.btn-primary{type: "button",class: "fa fa-plus"}
      %button.btn.btn-primary{type: "button",class: "fa fa-file-pdf-o"}Merge