.jumbotron
  .lead
    = form_tag '/upload', method: :post, multipart: true do
      .fields
        %table.table.table-condensed
          %tbody
            %tr
              %td= file_field_tag 'files[]'
              %td
            %tr
              %td= file_field_tag 'files[]'
              %td
      %button#add.btn.btn-primary{type: "button"} Add file
      %button.btn.btn-primary MERGE!