.jumbotron
  .lead
    = form_tag '/upload', method: :post, multipart: true do
      .fields
        %table.table.table-condensed
          %tbody#sortable
            %tr
              %td
                %i.handle.fa.fa-arrows
                %input#files_#first{id: "firstName", name: "files[]", type: "file",required:true}
              %td
                %button.delete.btn.btn-primary.btn-danger{type: "button"}
                  %i.fa.fa-trash-o.fa-lg
                  Delete
            %tr
              %td
                %i.handle.fa.fa-arrows
                %input#files_#second{name: "files[]", type: "file",required:true}
              %td
                %button.delete.btn.btn-primary.btn-danger{type: "button"}
                  %i.fa.fa-trash-o.fa-lg
                  Delete
      %button#add.btn.btn-primary{type: "button"}
        %i.fa.fa-plus
      %button.btn.btn-primary
        %i.fa.fa-file-pdf-o.fa-align-left
          Merge