.main
  =form_tag '/upload', multipart: true do
    %label
    PDF for upload
    =file_field_tag "file"

    %label
    Pdf2 for upload
    =file_field_tag "file1"

.btn.btn-large.btn-primary
  = link_to "Merge", merge_path


  
