.jumbotron
  .lead
    = form_tag '/upload', method: :post, multipart: true do
      .fields
        %table#sortable.table.table-condensed
          %tbody
            %tr
              %td
                %input#files_{name: "files[]", type: "file"}
              %td
            %tr
              %td
                %input#files_{name: "files[]", type: "file"}
              %td
      %button#add.btn.btn-primary.fa.fa-plus{type: "button"}
      %button.btn.btn-primary.fa.fa-file-pdf-o.fa-align-left Merge