.form.form-horizontal.form-group
%label#exampleInputFile
File input
= form_tag({action: :upload}, multipart: true) do
  = file_field_tag 'pdf'

%label
File 2 input
= form_tag({action: :upload}, multipart: true) do
  = file_field_tag 'pdf1'

  %button.btn.btn-default
    Submit





