.jumbotron
  .lead
    = form_tag '/upload', method: :post, multipart: true do
      .fields
        %table.table.table-condensed
          %tbody#sortable{cursor:"pointer"}
            %tr
              %td
                %i.handle.fa.fa-arrows
                %input#files_{name: "files[]", type: "file"}
              %td
            %tr
              %td
                %i.handle.fa.fa-arrows
                %input#files_{name: "files[]", type: "file"}
              %td
      %button#add.btn.btn-primary{type: "button"}
        %i.fa.fa-plus
      %button.btn.btn-primary
        %i.fa.fa-file-pdf-o.fa-align-left
          Merge