.well
  = form_tag '/upload', method: :post, multipart: true do
    .form-group
      = file_field_tag :file1
    .form-group
      = file_field_tag :file2
    %button.btn.btn-primary MERGE!
<<<<<<< HEAD




=======
>>>>>>> ca720d87faf83e9c1b18b24b041c0139877fdcd3
