%header
 .navbar.navbar-fixed-top.navbar-inner.container
  =image_tag "pdfmerge.jpg", :alt => "PDF", :class => "style_image"
  %span  Split PDF files at
  =link_to "splitpdf.com",'#'
  %span Unlock PDF files at
  =link_to "pdfunlock.com", '#'
  %span Protect PDF files at
  =link_to "pdfprotect.net", '#'
  %span Compress PDF files at
  = link_to "pdfcompress.com", '#'
